<div class="auth-page">
    ==={{isSubmittings$ | async}}====
    <div class="container-page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign Up</h1>
                <p class="text-xs-center">
                    <a [routerLink]="['/login']">Tem uma conta?</a>
                </p>
                Erros do backend
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" name="username" id="username" placeholder="Usuário"
                                class="form-control form-control-lg" formControlName="username">
                        </fieldset>
                    </fieldset>
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="email" name="email" id="email" placeholder="Email"
                                class="form-control form-control-lg" formControlName="email">
                        </fieldset>
                    </fieldset>
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="password" name="password" id="password" placeholder="Senha"
                                class="form-control form-control-lg" formControlName="password">
                        </fieldset>
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit"
                        [disabled]="isSubmittings$ | async">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>